body, html {
	margin: 0;
}

.box {
	height: 350px;


}

img {
	width: 50%;
}

.modal { 
	width: 40% !important; 
	height: 75% !important; 
}

body {
	-webkit-background-image: url("../img/bg_wood.jpg");
  background-image: url("../img/bg_wood.jpg");
  -moz-background-size: cover;
  -webkit-background-size: cover;
	background-size: cover;
	font-family: 'Nanum Pen Script', cursive;
}

.falling {
	background-image: url("../img/falling_hearts.gif");
	z-index: 1;
}

.grid {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
	grid-template-rows: 500px;
	min-width: 370px;
}

.btn-small {
    height: 40px;
}

.box {
	text-align: center;
	display: flex;
	align-items: flex-end;
}



@-webkit-keyframes dotmove {
    0%   {top: 0px;}
    50%  {top: -260px;}
    100% {top: 0px;}
}

.circle {
      width: 45px;
      height: 45px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: relative;
    }

.dotjump {
	  -webkit-animation: dotmove 1s ;
	  animation: dotmove 1s;
	  animation-timing-function: ease;
	  animation-iteration-count: 1;
}

#cathappy {
    position: absolute;
    width: 20%;
    min-width: 200px;
    left: 40%;
    top: 45%;
    max-width: 250px;
}

#catsad {
    position: absolute;
	  left: 15%;
    width: 40%;
    top: 38%;
    min-width: 300px;
    max-width: 350px;
    /*max-width: 400px;*/
}
#finalwin {
    position: absolute;
}

#congrats {
    position: absolute;
    left: 28%;
    top: 40%;
    width: 40%;
    min-width: 200px;
}

#exitmodal {
	font-size: 22px;
}

@media (max-width: 370px) {
	#grid {
	    -webkit-transform: rotate(90deg);
	    -moz-transform: rotate(90deg);
	    -o-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	    transform: rotate(90deg);
	    display: grid;
		  grid-template-columns: 0fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.1fr;
		  grid-template-rows: 500px;
	}
	.circle {
      width: 35px;
      height: 35px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: relative;
      top: 50px;
    }

    h1 {
    	font-size: 35px;
    }
    h3 {
    	font-size: 25px;
    }
	.modal { 
	width: 75% !important; 
	height: 75% !important; 
	}
	.dotjump {
	  animation-timing-function: linear;
	}
	@-webkit-keyframes dotmove {
    0%   {top: 0px;}
    50%  {top: -165px;}
    100% {top: 0px;}
	}
}

@media (min-width: 370px) and (max-width: 415px){
	#grid {
	    -webkit-transform: rotate(90deg);
	    -moz-transform: rotate(90deg);
	    -o-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	    transform: rotate(90deg);
	    display: grid;
		grid-template-columns: 0fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.1fr;
		grid-template-rows: 500px;
	}
	.circle {
      width: 35px;
      height: 35px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: relative;
      top: 50px;
    }

    h1 {
    	font-size: 35px;
    }
    h3 {
    	font-size: 25px;
    }
  .modal { 
    	width: 75% !important; 
    	height: 75% !important; 
    }
  .dotjump {
    animation-timing-function: linear;
  }

    @-webkit-keyframes dotmove {
    0%   {top: 0px;}
    50%  {top: -165px;}
    100% {top: 0px;}
	}
}

@media (min-width: 415px) and (max-width: 500px){
	#grid {
	    -webkit-transform: rotate(90deg);
	    -moz-transform: rotate(90deg);
	    -o-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	    transform: rotate(90deg);
	    display: grid;
		grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 500px;
	}
	.circle {
      width: 35px;
      height: 35px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: relative;
      top: 50px;
    }

    h1 {
    	font-size: 35px;
    }
    h3 {
    	font-size: 25px;
    }
  .modal { 
    	width: 75% !important; 
    	height: 75% !important; 
    }
  .dotjump {
    animation-timing-function: linear;
  }
  @-webkit-keyframes dotmove {
    0%   {top: 0px;}
    50%  {top: -200px;}
    100% {top: 0px;}
	}
}

@media (min-width: 500px) and (max-width: 625px){
	.circle {
      width: 40px;
      height: 40px;
      position: relative;
    }
     h1 {
    	font-size: 45px;
    }
    h3 {
    	font-size: 35px;
    }
    .modal { 
	width: 65% !important; 
	height: 75% !important; 
	}
    @-webkit-keyframes dotmove {
    0%   {top: 0px;}
    50%  {top: -230px;}
    100% {top: 0px;}
	}
	#grid {
	    display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.5fr;
		grid-template-rows: 500px;
	}
}

@media (min-width: 625px) and (max-width: 810px){
	.circle {
      width: 45px;
      height: 45px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: relative;
    }
  #catsad {
    position: absolute;
    left: 25%;
  }
  .modal { 
	width: 50% !important; 
	height: 75% !important; 
	}
}


@media (min-width: 810px) and (max-width: 1165px){
	.circle {
      width: 50px;
      height: 50px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: relative;
    }
  #catsad {
    position: absolute;
    left: 30%;
  }
}

@media (min-width: 1165px) {
	.circle {
      width: 55px;
      height: 55px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: relative;
    }
}
