body, html {
	margin: 0;
}

.box {
	height: 350px;


}

body {
	background-image: url("../img/bg_wood.jpg");
	background-size: cover;
	font-family: 'Nanum Pen Script', cursive;
}

.falling {
	background-image: url("../img/falling_hearts.gif");
	z-index: 1;
}

.grid {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
	grid-template-rows: 500px;
	
}

.btn-small {
    height: 40px;
}

.box {
	text-align: center;
	display: flex;
	align-items: flex-end;
}



@-webkit-keyframes dotmove {
    0%   {top: 0px;}
    50%  {top: -200px;}
    100% {top: 0px;}
}

.circle {
      width: 45px;
      height: 45px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: relative;
    }

.dotjump {
	  -webkit-animation: dotmove 1s ;
	  animation: dotmove 1s;
	  animation-timing-function: ease;
	  animation-iteration-count: 1;
}

#cathappy {
    position: absolute;
    left: 40%;
    top: 50%;
    width: 50%;
    max-width: 170px;
}

#catsad {
    position: absolute;
    left: 10%;
    top: 40%;
    width: 70%;
    max-width: 370px;
}
#finalwin {
    position: absolute;
}

#congrats {
    position: absolute;
    left: 28%;
    top: 40%;
    width: 40%;
    min-width: 200px;
}
/*body {
	font-family: 'Nanum Pen Script', cursive;
}*/

/*.box #n1 {
	animation-delay: 0s
}

.box #n2 {
	animation-delay: .1s
}

.box #n3 {
	animation-delay: .2s
}

.box #n4 {
	animation-delay: .3s
}

.box #n5 {
	animation-delay: .4s
}

.box #n6 {
	animation-delay: .5s
}

.box #n7 {
	animation-delay: .6s
}

.box #n8 {
	animation-delay: .7s
}*/